@charset "UTF-8";

html {
    font-size:100%;
}
body {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

/*＝＝＝＝＝＝ヘッダー部分＝＝＝＝＝＝＝*/

header {
    width:100%

}

.header-wrapper {
    background-color: lightblue;
    height:200px
}
.logo img{
    width: 150px;
    float:left;
}

.navi {
    float:right;
}

.navi li {
    float:right;
    padding: 30px;
}

/*＝＝＝＝＝＝メイン部分＝＝＝＝＝＝＝*/

main {
    background-color: pink;
    font-family: sans-serif;
    text-align: center;
}
main img {
    width:80%;
}

/*＝＝＝＝＝＝フッター部分＝＝＝＝＝＝＝*/

footer {
    background-color: beige;
}

.footer-navi {
    text-align: right;
}
footer p {
    text-align: center;
}